.clearfix {
  display: block;
}
.clearfix:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  content: ".";
  line-height: 0;
}
.image {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.ratio-box {
  display: block;
  content: "";
  padding-top: 66.66%;
}
.ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.inner,
.profile,
.tabs {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.inner .tabs,
.inner .inner {
  width: 100%;
}
section {
  clear: both;
  width: 100%;
}
section .inner {
  overflow: hidden;
}
section#content .inner {
  padding: 45px 0 30px 0;
}
body {
  overflow: hidden;
  position: relative;
  min-width: 1200px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #314d61;
  font: 300 100%/1.4em 'Ubuntu', sans-serif;
  background: #f3f4f4;
}
p {
  margin: 0 0 .8em;
}
h1,
.actu-title {
  position: relative;
  padding: 60px 0 0 0;
  margin-bottom: 50px;
  color: #1e324d;
  font: 500 2em/1.4em 'Ubuntu', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
h1:after,
.actu-title:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -10px;
  width: 6%;
  height: 1px;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  background: #1e324d;
}
h2 {
  position: relative;
  font: 500 1.2em/1.2em 'Ubuntu', sans-serif "Ubuntu", sans-serif;
}
h3 {
  font: 500 1.1em/1.5em 'Ubuntu', sans-serif;
}
.subtitle {
  position: relative;
  margin-bottom: 30px;
  color: #314d61;
  font: 300 1.3em/1.2em 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
.subtitle:after {
  position: absolute;
  content: "";
  left: calc(50% - 40px);
  bottom: -15px;
  width: 100px;
  height: 2px;
  background: #314d61;
}
a {
  text-decoration: none;
  color: #3897c1;
}
a:hover {
  text-decoration: underline;
}
.bloc-link a {
  z-index: 2;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.back-link {
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid #314d61;
  padding: 5px;
}
.back-link a {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  color: #010005;
  font: 300 0.9em/30px "Ubuntu", sans-serif;
  text-transform: uppercase;
}
.back-link a:before {
  position: absolute;
  top: 0;
  left: 0;
  font: .9em/36px "Fontello";
  content: "\E839";
}
.back-link a:hover {
  color: #3897c1;
  text-decoration: none;
}
.all-link a {
  position: relative;
  display: inline-block;
  margin: 15px 0 0;
  padding: 0 20px 0 40px;
  color: #314d61;
  font: 300 0.9em/25px "Ubuntu", sans-serif;
  text-transform: uppercase;
}
.all-link a:hover {
  color: #215871;
  text-decoration: none;
}
.all-link a:before {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  font: .8em/25px "Fontello";
  content: "\E823";
  color: #215871;
  border: 1px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.button a {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  font: 400 .9em/40px 'Ubuntu', sans-serif;
  color: #FFF;
  text-decoration: none;
  background: #3897c1;
  border: 1px solid #3897c1;
  cursor: pointer;
  text-transform: uppercase;
}
.button a:hover {
  color: #3897c1;
  background: none;
  border: 1px solid #3897c1;
}
.button.special a:before,
.button.special a:after {
  position: absolute;
  content: "";
  left: 10px;
  top: 50%;
  width: 20px;
  height: 1px;
  background: #FFF;
}
.button.special a:after {
  left: auto;
  right: 10px;
}
.empty {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.table {
  display: table;
}
.table .column {
  display: table-cell;
  vertical-align: top;
}
#map iframe {
  display: block;
  height: 310px;
  width: 100%;
}
.titleh2 {
  position: relative;
  font: 100 2em/1em 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: #C2242A;
  text-align: center;
  margin: 40px 0 30px 0;
}
.titleh2:after {
  position: absolute;
  content: "";
  left: 50%;
  top: -125%;
  width: 0.1%;
  height: 100%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  background: #314d61;
}
.topic {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  padding: 0 15px;
  margin: 0 auto;
  font: 700 1em/40px "Ubuntu", sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #FFF;
}
.field--name-body {
  margin: 0;
}
.field--name-body h2 {
  margin-top: 35px;
}
.field--name-body h2:first-child {
  margin-top: 0;
}
.field--name-body ol,
.field--name-body ul {
  display: block;
  padding: 0 0 0 20px;
  margin: 1em 0;
}
.field--name-body ol li {
  margin-left: 15px;
  padding: 3px 0 3px 0;
  list-style-type: decimal;
}
.field--name-body ul li {
  position: relative;
  padding: 3px 0 3px 0;
  list-style: none;
}
.field--name-body ul li:before {
  float: left;
  position: relative;
  content: "■";
  top: -1px;
  padding: 0 10px 0 0;
  color: #215871;
  font-size: 1.1em;
}
.field--name-body a {
  text-decoration: underline;
}
.field--name-body a:hover {
  text-decoration: none;
}
header {
  display: block;
  position: relative;
  z-index: 1;
  background: #FFF;
}
header:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  content: ".";
  line-height: 0;
}
header #logo img {
  z-index: 2;
  position: absolute;
  top: 5px;
  left: 0;
  width: 150px;
  height: auto;
}
header nav {
  float: left;
  width: 75%;
  padding-left: 200px;
  font: 700 1em/65px 'Ubuntu', sans-serif;
}
header nav ul {
  display: table;
  width: 100%;
}
header nav ul li {
  display: table-cell;
  text-align: center;
  padding: 0 2px;
}
header nav ul li a {
  position: relative;
  display: block;
  padding: 0;
  color: #314d61;
  text-align: center;
  text-transform: uppercase;
}
header nav ul li a:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  width: 0;
  height: 5px;
  background: #8A1002;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
}
header nav ul li a:hover {
  color: #8A1002;
  text-decoration: none;
}
header nav ul li a:hover:after {
  width: 100%;
}
header nav ul li.menu-item--active-trail a {
  color: #8A1002;
}
header nav ul li.menu-item--active-trail a:after {
  width: 100%;
}
header nav ul li.menu-item--active-trail a:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 5px;
  width: 0px;
  height: 0px;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  border: 5px solid transparent;
  border-top: 5px solid;
}
header #header-button {
  float: left;
  width: 25%;
}
header #header-button ul {
  display: table;
  width: 100%;
}
header #header-button ul li {
  display: table-cell;
  width: 50%;
  padding: 0 1px;
}
header #header-button ul li a {
  position: relative;
  display: block;
  color: #FFF;
  font: 300 0.85em/65px "Ubuntu", sans-serif;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #8A1002;
}
header #header-button ul li a:before {
  position: absolute;
  left: 50%;
  top: 20px;
  font: 1.5em/0 'fontello';
  content: "\E824";
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
header #header-button ul li a:hover:before {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
header #header-button ul li a span {
  position: relative;
  top: 12px;
}
header #header-button ul li:last-child a {
  background: #C2242A;
}
header #header-button ul li #submenu {
  position: relative;
  background: #C2242A;
  display: none;
  width: 298px;
}
header #header-button ul li #submenu li {
  display: block;
  width: 100%;
}
header #header-button ul li #submenu li a:before {
  display: none;
}
header #header-button ul li #submenu li .item-on-cart {
  position: relative;
  font: 400 1em/1em 'Ubuntu', sans-serif;
  color: #FFF;
  background: none;
  text-align: left;
  padding: 20px 10px;
  z-index: 10;
  width: 100%;
}
header #header-button ul li #submenu li .item-on-cart span {
  position: absolute;
  right: 20%;
  top: 20px;
}
header #header-button ul li #submenu li .item-on-cart a {
  position: relative;
}
header #header-button ul li #submenu li .item-on-cart a:after {
  position: absolute;
  top: -13px;
  right: 10%;
  content: "\E822";
  font: 1em/1em 'fontello';
}
header #header-button ul li #submenu li:after {
  position: absolute;
  content: "";
  background: #FFF;
  width: 100%;
  height: 1px;
}
header #header-button ul li:hover #submenu {
  display: table;
  position: absolute;
}
header #header-button ul .register:before {
  content: "\E83F";
}
header #header-button ul .logout:before {
  content: "\E805";
}
header #header-button ul .profil:before {
  content: "\E825";
}
#user-cart .bloc-list-inner .bloc-list-bloc:hover {
  background: #FFF;
}
#user-cart .bloc-list-inner .bloc-list-bloc .product-features {
  text-align: center;
}
#user-cart .bloc-list-inner .bloc-list-bloc .product-features span {
  position: relative;
  top: 0;
  left: 0;
}
.popup-open {
  overflow-y: hidden;
}
.popup-photo {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(0,0,0,0.75);
}
.popup-photo .photos-list-bloc {
  position: relative;
  margin: 0 10px 20px;
}
.popup-photo .photos-list-bloc .photos-list-view {
  position: relative;
  width: 100%;
  height: 300px;
  text-align: center;
}
.popup-photo .photos-list-bloc .photos-list-view img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.popup-photo .photo-content {
  position: relative;
}
.popup-photo .photo-content a {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  text-decoration: none;
  font: 400 1em/1em 'Ubuntu', sans-serif;
  border: 1px solid #314d61;
  border-radius: 30px;
  background: #f3f4f4;
}
.popup-photo .photo-content a:after {
  position: relative;
  right: 0;
  font: 1.2em/40px 'fontello';
  content: "\E842";
}
.popup-photo .photo-content a:hover {
  background: #3897c1;
  color: #FFF;
  border: #f3f4f4;
}
.popup-inner-photo {
  background: #fff;
  width: 60%;
  margin: 30px auto;
  position: relative;
  box-shadow: 0px 2px 6px #000000;
  border-radius: 3px;
  padding: 40px;
}
.popup {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0,0,0,0.75);
}
.popup-inner {
  max-width: 700px;
  width: 90%;
  padding: 40px;
  position: absolute;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  box-shadow: 0px 2px 6px #000000;
  border-radius: 3px;
  background: #fff;
}
.popup-close {
  width: 30px;
  height: 30px;
  padding-top: 4px;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: ease 0.25s all;
  -webkit-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  border-radius: 1000px;
  background: rgba(0,0,0,0.8);
  font-family: Arial, Sans-Serif;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: #fff;
}
.popup-close:hover {
  -webkit-transform: translate(50%,-50%) rotate(180deg);
  transform: translate(50%,-50%) rotate(180deg);
  background: #000000;
  text-decoration: none;
}
.front #slide {
  position: relative;
  text-align: center;
  height: 550px;
  background-image: url("../../img/local/logobde.jpg");
  background-size: cover;
}
.front #slide .inner {
  position: relative;
  height: 550px;
}
.front #slide h1 {
  font: 700 65px/1em 'Ubuntu', sans-serif;
  margin-top: 130px;
  color: #FFF;
  margin-bottom: -5px;
  text-shadow: 0 0 10px #000;
}
.front #slide h1:after {
  position: absolute;
  content: "";
  left: 50%;
  width: 100px;
  height: 2px;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  background: #FFF;
}
.front #slide h1 span {
  display: block;
  position: relative;
  font-size: 25px;
  color: #FFF;
  text-transform: uppercase;
}
.front #bde-events {
  position: relative;
  background: #215871;
}
.front #bde-events h2 {
  color: white;
}
.front #bde-events h2:after {
  background: white;
}
.front #bde-events .inner {
  padding: 0 0 30px;
}
.front #bde-events #event-list-content {
  margin-bottom: 35px;
}
.front #bde-events span a {
  font: 400 1.2em/1em 'Ubuntu', sans-serif;
  color: #314d61;
  text-align: center;
  width: 100%;
}
.front #bde-events .event-fonctions {
  text-align: center;
  margin: 5px 0;
}
.front #bde-events .event-fonctions a {
  font: 400 1em/1em 'Ubuntu', sans-serif;
  color: #C2242A;
}
.front #bde-events .event-fonctions a:hover {
  font: 400 1.2em/1em 'Ubuntu', sans-serif;
  color: #8A1002;
}
.front #bde-events .event-fonctions a:after {
  content: none;
}
.front #bde-events #event-list-inner {
  background: #215871;
}
.front #bde-events .all-page .special a {
  background: #215871;
  color: #FFF;
  border: 1px solid #3897c1;
}
.front #bde-events .all-page .special a:before,
.front #bde-events .all-page .special a:after {
  background: #FFF;
}
.front #bde-events .all-page .special a:hover {
  background: #FFF;
  color: #215871;
}
.front #bde-events .all-page .special a:hover:before,
.front #bde-events .all-page .special a:hover:after {
  background: #215871;
}
.front .bde-photos {
  background: white;
  position: relative;
}
.front .bde-photos .photos-list-bloc {
  background: #f3f4f4;
}
.front #bde-boutique {
  position: relative;
  background: #f3f4f4;
}
.front #bde-boutique .bloc-list-bloc {
  width: calc(33% - 5px);
  margin: 0;
}
.front #bde-boutique .bloc-list-bloc:hover {
  background: white;
}
.front #bde-boutique input {
  position: absolute;
  bottom: 0;
}
.all-page {
  overflow: hidden;
  margin: 35px 0 50px;
  text-align: center;
}
.all-page .button {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}
.all-page .button.register a {
  padding: 0 20px 0 55px;
}
.all-page .button.register a:before {
  position: absolute;
  left: 20px;
  font: 1.5em/40px 'fontello';
  content: "\E83F";
}
.all-page .button.register a:hover {
  background: #FFF;
}
.all-page .button.special a {
  background: #FFF;
  color: #5f6b73;
  border: 1px solid #5f6b73;
}
.all-page .button.special a:before,
.all-page .button.special a:after {
  background: #5f6b73;
}
.all-page .button.special a:hover {
  background: #5f6b73;
  color: #FFF;
}
.all-page .button.special a:hover:before,
.all-page .button.special a:hover:after {
  background: #FFF;
}
.bloc-list-inner {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.bloc-list-inner .bloc-list-bloc {
  position: relative;
  display: flex;
  width: calc(25% - 5px);
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: space-around;
  padding: 20px 0 0 0;
  margin: 10px 0 20px;
}
.bloc-list-inner .bloc-list-bloc .bloc-list-view {
  position: relative;
  width: 100%;
  padding: 15px;
  margin: 5px;
  height: 160px;
  text-align: center;
  background: #FFF;
}
.bloc-list-inner .bloc-list-bloc .bloc-list-view span {
  margin: 0;
}
.bloc-list-inner .bloc-list-bloc .bloc-list-view img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.bloc-list-inner .bloc-list-bloc .product-features {
  position: relative;
  width: 100%;
  vertical-align: top;
  height: 50px;
  margin: 0 30px;
}
.bloc-list-inner .bloc-list-bloc .product-features span {
  position: absolute;
  top: 10px;
  left: 10px;
}
.bloc-list-inner .bloc-list-bloc .product-features a {
  position: absolute;
  top: 20px;
  right: 10px;
  text-decoration: none;
}
.bloc-list-inner .bloc-list-bloc .product-features a:after {
  position: relative;
  content: "\E843";
  font: 1.5em/0 'fontello';
}
.bloc-list-inner .bloc-list-bloc .bloc-list-desc {
  margin: 0 0 15px;
  text-align: center;
}
.bloc-list-inner .bloc-list-bloc .bloc-list-desc .team-list-function {
  font: 300 0.9em/1.4em 'ubuntu', sans-serif;
}
.bloc-list-inner .bloc-list-bloc:hover {
  background: #f3f4f4;
}
.bloc-list-inner .bloc-list-bloc span {
  margin: 5px;
}
.bloc-list-inner .bloc-list-bloc span a {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  font: 400 1em/1.8em "Ubuntu";
  color: #C2242A;
  text-decoration: none;
}
.bloc-list-inner .bloc-list-bloc span a:hover {
  color: #8A1002;
}
#boutique-list {
  background: #f3f4f4;
  padding-bottom: 50px;
}
#boutique-list .bloc-list-bloc:hover {
  background: white;
}
#boutique-list .AddPanier {
  position: absolute;
  bottom: 0;
}
#boutique-list .contact-form {
  padding-top: 50px;
}
#boutique-list .item-list {
  padding: 0 0 40px 0;
}
#bde {
  padding: 0 0 50px;
}
#bde #bde-view {
  position: relative;
  height: 410px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#bde #bde-view .claim {
  position: absolute;
  bottom: 50px;
  padding: 20px 25px 20px 90px;
  font: 700 1.4em/1.6em 'Ubuntu', sans-serif;
  background: rgba(194,36,42,0.5);
  width: 50%;
  color: #FFF;
  text-transform: uppercase;
}
#bde #bde-view .claim:before,
#bde #bde-view .claim:after {
  position: absolute;
  content: "";
  top: 0;
  left: 90px;
  width: 80px;
  height: 5px;
  background: #FFF;
}
#bde #bde-view .claim:after {
  left: auto;
  right: 25px;
  top: auto;
  bottom: 0;
}
#bde #bde-view .claim span {
  display: block;
  text-transform: none;
  font: 300 1em/1.6em;
}
#bde #bde-content {
  overflow: hidden;
  padding: 0 50px;
  background: #FFF;
}
#bde #bde-content .highlight {
  overflow: hidden;
  position: relative;
  text-align: center;
}
#bde #bde-content .highlight .highlight-bloc {
  float: left;
  width: calc(33% - 5px);
  padding: 40px 50px;
}
#bde #bde-content .highlight .highlight-bloc h3 {
  padding: 5%;
  color: #3897c1;
}
#bde #bde-content .bde-content-inner {
  position: relative;
  margin: 40px 0;
}
#bde #bde-content .bde-content-inner:after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  bottom: 0;
  width: 33.33%;
  height: 1px;
  background: #acbac4;
}
#bde #bde-content .bde-content-inner .content-bloc {
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
}
#bde #bde-content .bde-content-inner .content-bloc .content-view {
  position: relative;
  float: left;
  width: 50%;
  padding-right: 35px;
}
#bde #bde-content .bde-content-inner .content-bloc .content-view img {
  display: block;
  width: 100%;
}
#bde #bde-content .bde-content-inner .content-bloc .content-desc {
  position: relative;
  float: left;
  width: 50%;
}
#bde #bde-content .bde-content-inner .content-bloc .content-desc h2 {
  position: relative;
  left: -115px;
  background: #FFF;
  text-transform: uppercase;
  font: 300 1.3em/1.4em 'Ubuntu', sans-serif;
  color: #3897c1;
  padding: 10px 25px;
  margin: 50px 0 25px;
}
#bde #bde-content .bde-content-inner .content-bloc:nth-child(even) .content-view {
  float: right;
  padding-left: 35px;
}
#bde #bde-content .bde-content-inner .content-bloc:nth-child(even) .content-desc {
  text-align: right;
}
#bde #bde-content .bde-content-inner .content-bloc:nth-child(even) .content-desc h2 {
  left: 115px;
}
#bde #bde-content .external-links {
  position: relative;
  text-align: center;
  width: 100%;
  font: 1em/0 'ubuntu', sans-serif;
  color: #acbac4;
}
#bde #bde-content .external-links:after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  bottom: 0;
  width: 33.33%;
  height: 1px;
  background: #acbac4;
}
#bde #bde-content .external-links a {
  width: 55px;
  height: 55px;
  display: inline-block;
  color: #314d61;
  text-decoration: none;
  vertical-align: top;
}
#bde #bde-content .external-links a:after {
  position: relative;
  content: "\F30C";
  font: 1.5em/55px 'fontello';
}
#bde #bde-content .external-links a:hover {
  background: #314d61;
  color: #FFF;
}
#bde #bde-content .external-links a:nth-child(2)::after {
  content: "\F0E1";
}
#bde #bde-content .external-links a:nth-child(3)::after {
  content: "\E81A";
}
#bde #bde-team .inner {
  overflow: visible;
}
#bde #bde-team h2 {
  font: 400 1.2em/1.4em 'Lato', sans-serif;
  color: #215871;
  padding: 40px 0 0 0;
}
#bde #bde-team p {
  font: 300 1em/1.4em 'Lato', sans-serif;
  color: #010005;
}
#bde #bde-team .team-list-inner {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px 0 0 0;
}
#bde #bde-team .team-list-inner .team-list-bloc {
  display: flex;
  width: calc(25% - 5px);
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: space-around;
}
#bde #bde-team .team-list-inner .team-list-bloc .team-list-view {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 180px;
  height: 180px;
}
#bde #bde-team .team-list-inner .team-list-bloc .team-list-view img {
  width: 180px;
  height: inherit;
}
#bde #bde-team .team-list-inner .team-list-bloc .team-list-desc {
  margin: 0 0 15px;
  text-align: center;
}
#bde #bde-team .team-list-inner .team-list-bloc .team-list-desc h3 {
  font: 400 1.8em/1.8em "Allura", sans-serif;
  color: #3897c1;
  text-decoration: none;
}
#bde #bde-team .team-list-inner .team-list-bloc .team-list-desc .team-list-function {
  font: 300 0.9em/1.4em 'Lato', sans-serif;
}
#bde #bde-team .button {
  text-align: center;
  margin: 20px 0;
}
#bde #bde-team .button a {
  position: relative;
  background: #215871;
  border: 1px solid #215871;
}
#bde #bde-team .button a .on-news {
  position: absolute;
  right: 5px;
  bottom: -5px;
  font: 300 2em/1.4em 'Lato', sans-serif;
  color: #3897c1;
}
#bde #bde-team .button a .on-news:after {
  position: relative;
  content: "\E810";
  font: 0.6em/40px 'fontello';
}
#bde #bde-team .button a:hover {
  background: #FFF;
  color: #215871;
}
#bde .contact-form {
  margin: 50px 0;
}
#bde .contact-form .form-actions {
  padding: 20px 0;
  text-align: center;
}
#bde .contact-form .delete-member {
  margin: 50px 0;
}
.photos-list-inner {
  overflow: hidden;
  margin: 0 -10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.photos-list-inner .photos-list-bloc {
  position: relative;
  width: calc(25% - 20px);
  margin: 0 10px 20px;
  background: #FFF;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.photos-list-inner .photos-list-bloc .photos-list-view {
  position: relative;
  width: 100%;
  padding: 15px;
  height: 160px;
  text-align: center;
}
.photos-list-inner .photos-list-bloc .photos-list-view img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.photos-list-inner .photos-list-bloc .photos-fonctions {
  position: relative;
  width: 100%;
}
.photos-list-inner .photos-list-bloc .photos-fonctions a {
  z-index: 3;
  text-decoration: none;
}
.photos-list-inner .photos-list-bloc .photos-fonctions a:after {
  position: relative;
  font: 1em/40px 'fontello';
  content: "\E846";
}
.photos-list-inner .photos-list-bloc .photos-fonctions a:first-child:after {
  left: 10px;
}
.photos-list-inner .photos-list-bloc .photos-fonctions a:last-child {
  color: #314d61;
}
.photos-list-inner .photos-list-bloc .photos-fonctions a:last-child:after {
  position: absolute;
  right: 10px;
  content: "\F2A7";
}
.photos-list-inner .photos-list-bloc .photos-list-desc {
  text-align: left;
  margin: 5px 15px 0px;
}
.photos-list-inner .photos-list-bloc .photos-list-desc h3 {
  font: 500 1.0em/1.8em "ubuntu";
}
.photos-list-inner .photos-list-bloc .photos-list-desc h3 a {
  color: #C2242A;
}
.photos-list-inner .photos-list-bloc .photos-list-desc .photos-list-activity {
  font: 300 0.9em/1.4em 'Ubuntu', sans-serif;
}
.photos-list-inner .photos-list-bloc:hover .photos-list-desc h3 a {
  color: #8A1002;
}
.photos-list-inner .photos-list-bloc.honor:after {
  content: "\F219";
}
.photos-list-inner .photos-list-bloc.partner:after {
  content: "\F2B5";
}
#photos-list {
  padding: 0 0 50px 0;
}
#event-list-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #f3f4f4;
}
#event-list-inner .event-list-bloc {
  position: relative;
  width: calc(25% - 5px);
  overflow: hidden;
  margin: 20px;
  vertical-align: top;
  background: #FFF;
}
#event-list-inner .event-list-bloc .event-list-date {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  color: #FFF;
  background: #1e324d;
  padding: 7px;
}
#event-list-inner .event-list-bloc .event-list-date span {
  display: block;
  font: 700 1.3em/20px "Ubuntu", sans-serif;
  text-transform: uppercase;
}
#event-list-inner .event-list-bloc .event-list-date .month {
  font-size: 1em;
}
#event-list-inner .event-list-bloc .event-list-date .year {
  font: 300 0.85em/15px "Ubuntu", sans-serif;
}
#event-list-inner .event-list-bloc .event-list-view {
  position: relative;
}
#event-list-inner .event-list-bloc .event-list-view img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
#event-list-inner .event-list-title {
  color: #314d61;
  padding: 50px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  font-family: Calibri;
}
#event-list-inner .event-list-title:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 25%;
  width: 5%;
  height: 1%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  background: #314d61;
}
#event-list-inner .event-list-desc {
  padding: 10px;
  text-align: center;
}
#event-list-inner .event-list-desc h2 {
  position: relative;
  overflow: hidden;
  padding-bottom: 15px;
  color: #215871;
  margin-bottom: 10px;
}
#event-list-inner .event-list-desc h2:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  height: 2px;
  margin: 0 auto;
  background: #3897c1;
}
#photos {
  padding: 0 0 50px;
}
#photos h2 {
  margin-bottom: 2px;
  font: 500 1.1em/1.8em "ubuntu";
  color: #3897c1;
  text-transform: uppercase;
}
#photos .photos-top {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
}
#photos .photos-top .photos-view {
  width: 100%;
  height: 100%;
}
#photos .photos-top .photos-view img {
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
#photos .photos-top .photos-logo {
  position: absolute;
  display: table;
  top: 0;
  left: 85px;
  width: 215px;
  height: 215px;
  padding: 15px;
  text-align: center;
  background: #FFF;
}
#photos .photos-top .photos-logo span {
  display: table-cell;
  vertical-align: middle;
}
#photos .photos-top .photos-logo img {
  display: block;
  max-width: 185px;
  max-height: 185px;
}
#photos .photos-detail {
  padding: 0px 85px 65px;
  background: #FFF;
}
#photos .photos-detail .data-inner {
  overflow: hidden;
  margin: -70px 0 0;
}
#photos .photos-detail .data-inner .data-bloc {
  position: relative;
  float: left;
  text-align: left;
  padding: 25px 40px 0;
  margin: 0 1.5px 0;
  width: calc(33.33% - 3px);
  vertical-align: top;
  background: #FFF;
}
#photos .photos-detail .photos-link {
  position: relative;
  border-bottom: 1px solid #3897c1;
  margin: 25px 0 50px;
  text-align: center;
}
#photos .photos-detail .photos-link .button {
  margin-bottom: -1px;
  display: inline-block;
  text-transform: none;
}
#photos .photos-detail .photos-link .follow {
  position: absolute;
  right: 0;
  bottom: 0;
  font: 1em/0 'Ubuntu';
  color: #acbac4;
}
#photos .photos-detail .photos-link .follow a {
  width: 35px;
  height: 35px;
  display: inline-block;
}
#photos .photos-detail .photos-link .follow a:after {
  position: relative;
  font: 1.3em/40px 'fontello';
  color: #314d61;
  text-align: center;
}
#photos .photos-detail .photos-link .follow a:hover {
  text-decoration: none;
  color: #FFF;
  background: #314d61;
}
#photos .photos-detail .photos-link .follow a:hover:after {
  color: #FFF;
}
#photos .photos-detail .photos-link .follow .facebook:after {
  content: "\F30C";
}
#photos .photos-detail .photos-link .follow .twitter:after {
  content: "\F309";
}
#photos .photos-detail .photos-link .follow .linkedin:after {
  content: "\F0E1";
}
#photos .photos-detail .photos-content {
  overflow: hidden;
  position: relative;
}
#photos .photos-detail .photos-content:after {
  position: absolute;
  content: "";
  top: 0;
  left: 66.66%;
  width: 1px;
  height: 100%;
  background: #5f6b73;
}
#photos .photos-detail .photos-content .photos-desc {
  float: left;
  width: 66.66%;
  padding-right: 40px;
}
#photos .photos-detail .photos-content .photos-leader {
  float: left;
  width: 33.33%;
  padding-left: 40px;
}
#photos .photos-detail .photos-content .photos-leader .button {
  margin-top: 20px;
}
#photos .photos-detail .photos-content .photos-leader .button a {
  text-transform: uppercase;
  border: 1px solid #215871;
  background: #215871;
}
#photos .photos-detail .photos-content .photos-leader .button a:hover {
  color: #215871;
  background: #FFF;
}
#photos .photos-detail .photos-content .photos-leader img {
  padding: 10px 0;
  display: block;
  max-width: 185px;
  max-height: 185px;
}
#photos .photos-detail .photos-content .photos-leader h3 {
  font-size: 1.1em;
}
#photos .photos-detail .photos-content .photos-leader .function {
  color: #acbac4;
}
#event-list {
  padding: 0 0 50px 0;
  background: #f3f4f4;
}
#event-list .new-event {
  position: absolute;
  top: 40px;
  right: 0;
}
#event-list .event-fonctions {
  text-align: center;
}
#event-list .event-fonctions input {
  margin-bottom: 10px;
}
#event-list .contact-form {
  padding-top: 50px;
}
#event-list .item-list {
  padding: 0 0 40px 0;
}
#event {
  position: relative;
  margin-bottom: 50px;
}
#event .event-top {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
}
#event .event-top .event-view {
  width: 100%;
  height: 100%;
}
#event .event-top .event-view img {
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
#event .event-top .event-view .topic {
  width: 10%;
}
#event .event-content {
  position: relative;
  padding: 20px 85px 0;
  background: #FFF;
}
#event .event-content .back-link {
  margin: 0;
}
#event .event-content .actu-title {
  padding: 0;
}
#event .event-content .event-published {
  text-align: right;
}
#event .event-content .event-date {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #FFF;
  background: #C2242A;
  padding: 7px;
}
#event .event-content .event-date span {
  display: block;
  font: 700 1.3em/20px "Ubuntu", sans-serif;
  text-transform: uppercase;
}
#event .event-content .event-date .month {
  font-size: 1em;
}
#event .event-content .event-date .year {
  font: 300 0.85em/15px "Ubuntu", sans-serif;
}
#event .event-content .button {
  text-align: center;
  position: relative;
  padding-bottom: 50px;
}
#event .event-content .button a {
  position: relative;
}
#event .event-content .field--name-body {
  position: relative;
  text-align: center;
  padding: 5px;
}
#event .event-content .field--name-body:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  content: "";
  background: #3897c1;
  width: 50px;
  height: 1px;
}
#event .event-content .photos-events {
  background: #FFF;
  padding: 10px 0 10px 0;
  text-align: center;
}
#event .photos-list-inner {
  background: #FFF;
  overflow-y: auto;
  margin: 0px;
  width: 100%;
  max-height: 520px;
}
#event .photos-list-inner .photos-list-bloc {
  background: #f3f4f4;
  width: calc(25% - 20px);
}
#event .photos-list-inner .photos-list-bloc .delete-photo {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}
#event .photos-list-inner .photos-list-bloc .delete-photo:after {
  position: relative;
  font: 1em/0 'fontello';
  content: "\E822";
  color: #C2242A;
}
#event .contact-form {
  padding: 25px 40px;
  background: #FFF;
}
#event .contact-form .form-actions {
  padding: 25px 0;
  text-align: center;
}
.comments-popup {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #eff5f5;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 270px;
  overflow-y: auto;
}
.comments-popup a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
}
.comments-popup a:after {
  position: relative;
  font: 1em/0 'fontello';
  content: "\E822";
  color: #C2242A;
}
#filter {
  position: relative;
  border-top: 1px solid #5f6b73;
  border-bottom: 1px solid #5f6b73;
  margin: 0 5% 30px;
  text-align: center;
}
#filter .filter-title {
  position: absolute;
  padding: 0 40px;
  color: #215871;
  font: 300 1.2em/45px 'Ubuntu', sans-serif;
  text-transform: uppercase;
  vertical-align: top;
}
#filter .filter-title:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 20px;
  width: 1px;
  height: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  background: #1e324d;
}
#filter .filter-form {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
#filter .filter-form ul {
  display: inline-block;
}
#filter .filter-form ul li {
  display: inline-block;
  font: 400 1em/45px 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
#filter .filter-form ul li a {
  display: block;
  padding: 0 15px;
  color: #010005;
}
#filter .filter-form ul li a:hover {
  color: #C2242A;
  text-decoration: none;
}
#filter .filter-form ul li a.active {
  background: #C2242A;
  color: #FFF;
}
#filter .filter-form ul li a.active:hover {
  background: #8A1002;
}
#filter .filter-form .sort-time {
  float: right;
}
#filter .filter-form .form-type-select {
  display: inline-block;
}
#filter .filter-form .form-type-select select {
  width: auto;
  margin: 0;
  border: 0;
  background: none;
}
.item-list .pager {
  clear: both;
  margin: 30px auto 0;
  font: 400 1.4em/20px 'Ubuntu', sans-serif;
  text-align: center;
}
.item-list .pager li {
  display: inline-block;
  padding: 0;
  text-align: center;
}
.item-list .pager li a {
  display: block;
  padding: 5px 15px;
  color: #C2242A;
  margin: 0;
}
.item-list .pager li a:hover {
  color: #8A1002;
  text-decoration: underline;
}
.item-list .pager li.pager-current {
  color: #8A1002;
  text-decoration: none;
  padding: 5px 15px;
}
.item-list .pager li.pager-previous a,
.item-list .pager li.pager-next a {
  text-decoration: none;
}
.item-list .pager li.pager-previous a:after,
.item-list .pager li.pager-next a:after {
  position: relative;
  font: 1em/0 'fontello';
  content: "\E80F";
}
.item-list .pager li.pager-previous a:hover,
.item-list .pager li.pager-next a:hover {
  color: #8A1002;
  background: none;
}
.item-list .pager li.pager-previous a:hover:after,
.item-list .pager li.pager-next a:hover:after {
  right: 3px;
}
.item-list .pager li.pager-next a:after {
  content: "\E810";
}
.item-list .pager li.pager-next a:hover:after {
  right: auto;
  left: 3px;
}
.item-list .pager li.pager-first,
.item-list .pager li.pager-last {
  display: none;
}
#box {
  padding: 0 0 50px;
}
#box h3 {
  border-top: 2px solid #8A1002;
}
#box .box-top {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}
#box .box-top .contact-view {
  width: 100%;
  height: 100%;
}
#box .box-top .contact-view img {
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
#box .box-top .box-bloc {
  position: relative;
  background: #FFF9F9;
  border-left: 2px solid #8A1002;
  padding: 5px;
  overflow-y: auto;
  height: 100px;
}
#box .box-top .box-bloc .validate {
  position: absolute;
  bottom: 15px;
  right: 15px;
  text-decoration: none;
}
#box .box-top .box-bloc .validate:before {
  position: relative;
  left: 0px;
  font: 2em/0 'fontello';
  content: "\E845";
  color: green;
}
#box .box-top .box-bloc span {
  position: absolute;
  top: 10px;
  right: 30px;
  color: #010005;
  z-index: 3;
}
#box .box-top .box-bloc span a:after {
  position: relative;
  right: -10px;
  font: 1em/0 'fontello';
  content: "\E821";
  color: white;
}
#box .box-top .box-bloc .idea-name {
  font: 400 1em/1em 'Ubuntu', sans-serif;
  color: #f3f4f4;
  position: relative;
  background: #db7070;
  height: 35px;
}
#box .contact-detail {
  padding: 0 85px;
  background: #FFF;
}
#box .contact-info {
  overflow: hidden;
  position: relative;
  margin: -70px 0 0;
  border-bottom: 1px solid #5F6B73;
}
#box .contact-info .data-bloc {
  position: relative;
  float: left;
  text-align: left;
  padding: 25px 40px 40px;
  margin: 0 1.5px 0;
  width: calc(33.33% - 3px);
  vertical-align: top;
  background: #FFF;
}
#box .contact-info h2 {
  font: 500 1.0em/1.8em "ubuntu";
  color: #3897c1;
  text-transform: uppercase;
}
#box .contact-form {
  padding: 25px 0 50px 0;
}
#box .contact-form h2 {
  font: 500 1.2em/1.8em "ubuntu";
  color: #215871;
}
#box .contact-form form {
  position: relative;
  margin: 30px -50px;
}
#box .contact-form form .form-item {
  float: left;
  width: calc(50% - 100px);
  margin: 0 50px;
}
#box .contact-form form .form-item.full {
  width: calc(100% - 100px);
}
#box .contact-form form .form-item.alone {
  float: none;
}
#box .contact-form form .form-actions {
  text-align: center;
}
#user-login {
  position: relative;
  width: 1200px;
  margin: 30px auto 75px;
}
label {
  font: 300 1em/39px 'Ubuntu', sans-serif;
  color: #010005;
  text-transform: uppercase;
}
input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=tel],
textarea,
.form-textarea-wrapper textarea {
  margin: 0 0 25px;
  width: 100%;
  height: 40px;
  padding: 0;
  font: 300 1.1em/1.4em 'Ubuntu', sans-serif;
  color: #010005;
  background: none;
  border: 0;
  border-bottom: 1px solid #010005;
}
textarea,
.form-textarea-wrapper textarea {
  width: 100%;
  height: 150px;
  padding: 5px 0;
}
.grippie {
  clear: both;
}
select {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin: 0 0 25px;
  color: #010005;
  border: none;
  border-radius: 3px;
  border: 1px solid #010005;
  cursor: pointer;
  font: 100 .95em/39px 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
input[type=submit] {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  font: 400 .9em/36px 'Ubuntu', sans-serif;
  color: #FFF;
  text-decoration: none;
  background: #8A1002;
  border: 1px solid #8A1002;
  cursor: pointer;
  text-transform: uppercase;
}
input[type=submit]:hover {
  color: #8A1002;
  background: none;
  border: 1px solid #8A1002;
}
button.reset {
  position: relative;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  font: 0/39px 'Ubuntu', sans-serif;
  color: #FFF;
  background: #828388;
  border: 0;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}
button.reset:after {
  position: absolute;
  content: "\E801";
  color: #FFF;
  font: 18px/39px 'fontello';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
button.reset:hover {
  background: #010005;
}
input[type="radio"] {
  margin-right: 3px;
}
.description,
.form-item .description {
  padding: 2px 5px 0;
  margin: 0;
  font: italic 100 .85em/1.4em 'Ubuntu', sans-serif;
  color: #999;
  text-align: left;
}
::-webkit-input-placeholder {
  color: #010005;
  opacity: 1 !important;
  font: 300 1em/39px 'Ubuntu', sans-serif !important;
  text-transform: uppercase;
}
::-moz-placeholder {
  color: #010005;
  opacity: 1 !important;
  font: 300 1em/39px 'Ubuntu', sans-serif !important;
  text-transform: uppercase;
}
:-ms-input-placeholder {
  color: #010005;
  opacity: 1 !important;
  font: 300 1em/39px 'Ubuntu', sans-serif !important;
  text-transform: uppercase;
}
footer {
  background: #5f6b73;
  padding: 20px;
  color: #acbac4;
  height: 110px;
}
footer .logo-footer {
  float: left;
  width: 30%;
}
footer .logo-footer img {
  float: left;
}
footer .logo-footer .title {
  float: left;
  font: 700 0.95em/1em 'Ubuntu', sans-serif;
  text-transform: uppercase;
  padding: 10px 0 0 20px;
}
footer .logo-footer .title span {
  display: block;
}
footer .nav-footer {
  float: right;
  width: 70%;
  text-align: right;
}
footer .nav-footer .nav {
  font: 0.9em/40px 'Ubuntu', sans-serif;
  text-transform: uppercase;
  position: relative;
}
footer .nav-footer .nav li {
  display: inline-block;
  position: relative;
}
footer .nav-footer .nav li a {
  color: #acbac4;
  padding: 0 10px;
}
footer .nav-footer .nav li:after {
  position: absolute;
  top: 13px;
  right: 0;
  content: "";
  background: #acbac4;
  width: 1px;
  height: 15px;
}
footer .nav-footer .nav li:last-child:after {
  display: none;
}
footer .nav-footer .corporate {
  font: 0.85em/40px 'Ubuntu', sans-serif;
}
footer .nav-footer .corporate li {
  display: inline-block;
  padding: 0 10px;
}
footer .nav-footer .corporate li a {
  color: #acbac4;
}
#terms h3 {
  margin: 15px 0;
}
#terms p {
  margin: 0 45px;
}
#terms ul {
  margin: 10px 45px;
}
#terms ul li {
  margin: 0 20px;
}
#terms ul li:before {
  position: relative;
  content: "\E834";
  font: 1.4em/40px 'fontello';
}
.active-btn-click {
  background-color: #3897c1 !important;
  color: #FFF;
  border: #f3f4f4 !important;
}
